[Unit]
Description=Roomba lirc API
After=multi-user.target

[Service]
User=roomba_api
Group=roomba_api
ExecStart=source ~/python3.7 -m roomba_rpi_ir_api
Type=idle

[Install]
WantedBy=multi-user.target
